@page "/countries"
@inject IRepository repository
@inject SweetAlertService sweetAlertService
<h4>Paises</h4>

<GenericList MyList="countries" >
    <NoRecord> 
        <p>Aun no hay paises registrados.</p>
    </NoRecord>
    <Body>
        <a href="/countries/create" class="btn btn-primary">Nuevo País</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Pais</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in countries!)
                {
                    <tr>
                        <td>@country.Name</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="/countries/CountryEdit/@country.Id">Editar</a>
                            <button class="btn btn-danger btn-sm" >Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </Body>
    </GenericList>

@code {
    private List<Country>?  countries;

    protected override async Task OnInitializedAsync()
    {
        var response = await repository.GetAsync<List<Country>>("api/countries");
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return; return;
        }
        countries = response.Response;

    }
}
